<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>C# Angualr Routing</title>

    <!-- Jquery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Angular Core -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <!-- Angular Created by Me-->
    <script src="~/AngularScripts/app.js"></script>
    <script src="~/AngularScripts/routes.js"></script>
</head>

<body ng-app="AngularApp"><div style="border: 3px solid #ff0000">
    <h2>C# Angular Routing Template</h2>

    This is apart of our main home page!
    <div style="margin: 10px">
        <ng-view></ng-view>
    </div>
</div>
</body>
</html>
